.fieldOfHeader {
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;    
}

.fieldOfHeaderLink {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.link {
    margin-right: 20px;
    font-size: 20px;
}

.link:hover {
    color: gray;
    cursor: pointer;
}

.listOfmovies {
    padding: 10px;
}